html {
  background:
    radial-gradient(closest-side, hsl(50, 25%, 20%), hsl(35, 15%, 5%))
    hsl(35, 15%, 5%);
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
